.wrapper-input > .input {
  display: none;
}

.wrapper-input > .beautiful {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-fourth);
  border-radius: var(--spacing-radius);
  cursor: pointer;
}

.wrapper-input > .beautiful::after,
.wrapper-input > .beautiful::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 6px;
  border: 4px solid;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 200ms linear;
}

.wrapper-input > .beautiful::after {
  bottom: 14px;
  border-color: var(--color-first);
  border-top-color: transparent;
  border-right-color: transparent;
}

.wrapper-input > .beautiful::before {
  bottom: 11px;
  border-color: var(--color-third);
  border-top-color: transparent;
  border-right-color: transparent;
}

.wrapper-input > .input:checked + .beautiful::after {
  opacity: 1;
}

.wrapper-input > .input:checked + .beautiful::before {
  opacity: 0.8;
}
