.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}

.header > .sobre {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.header > .menu-game {
    width: 25px;
    height: 20px;
}